.Fit{
    width: 1440px;
    margin: 0 auto 120px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 360px;
    font-size: 30px;
}

.Fit ul{
    margin: 50px 60px 0;
    padding: 50px 10px;
    border-top: 1px solid #ffffff;
}

.b1{
    background-color: #FFE2DE;
}

.b2{
    background-color: #C4E769;
}

.b3{
    background-color: #62D0DF;
}

.b4{
    background-color: #0052C1;
}